<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
        <uib-tabset>
            <uib-tab heading="Palette" ng-repeat="palette in palettes" >

                <form class="form-horizontal" style="height:75vh">
                    <div class="panel panel-default col-md-3" style="height:30vh; width:30vh; margin-left:5px; margin-right:5px" ng-repeat="color in palette.colors" ng-style="{'background-color': color.color != null ? color.color : 'red'}">

                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="color.color" />
                            <span style="cursor:pointer" class="input-group-addon" ng-click="copy(color)"><i class="ion-ios-copy"></i></span>
                        </div>

                    </div>
                    <button class="btn btn-secondary" ng-click="addColor(palette)">+</button>
                </form>

            </uib-tab>
            <button ng-click="addPalette()" style="margin-top:3px" class="btn btn-secondary">+</button>
        </uib-tabset>
    </div>
</div>